.timeline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		top: rem(5px);
		bottom: rem(5px);
		width: rem(5px);
		background: $gray-700;
		inset-inline-start: 20%;
		margin-inline-start: rem(-2.5px);
		
		@include media-breakpoint-down(md) {
			inset-inline-start: 15%;
		}
		@include media-breakpoint-down(sm) {
			inset-inline-start: 50%;
		}
	}
	& .btn {
		box-shadow: none;
	}
	& .timeline-item {
		position: relative;
		min-height: 50px;
		padding: 20px 0;
	}
	& img {
		max-width: 100%;
		display: block;
	}
	& .timeline-time {
		position: absolute;
		width: 18%;
		text-align: end;
		top: rem(30px);
		text-align: end;
		inset-inline-start: 0;
		
		@include media-breakpoint-down(md) {
			width: 12%;
		}
		@include media-breakpoint-down(sm) {
			width: 50%;
			text-align: end;
			padding-inline-end: rem(20px);
		}

		& .date {
			display: block;
			font-weight: $font-weight-bold;
			color: rgba(var(--#{$prefix}component-color-rgb), .85);
		}
		& .time {
			display: block;
			font-weight: $font-weight-bold;
			line-height: rem(24px);
			font-size: $h2-font-size;
			color: rgba(var(--#{$prefix}component-color-rgb), .85);
		}
	}
	& .timeline-icon {
		position: absolute;
		width: 10%;
		text-align: center;
		top: rem(40px);
		inset-inline-start: 15%;
		
		@include media-breakpoint-down(md) {
			inset-inline-start: 10%;
		}
		@include media-breakpoint-down(sm) {
			inset-inline-start: 45%;
		}
		
		& a {
			text-decoration: none;
			width: rem(20px);
			height: rem(20px);
			display: inline-block;
			background: var(--#{$prefix}body-bg);
			line-height: rem(10px);
			color: $white;
			font-size: rem(14px);
			border: 5px solid $gray-700;
			transition: border-color .2s linear;
			border-radius: $border-radius-lg * 4;
		}
	}
	& .timeline-content {
		background: var(--#{$prefix}component-bg);
		position: relative;
		font-size: rem(14px);
		max-width: rem(640px);
		border-radius: $border-radius-lg;
		margin-inline-start: 23%;
		
		@include media-breakpoint-down(lg) {
			margin-inline-start: 25%;
			margin-inline-end: 5%;
		}
		@include media-breakpoint-down(md) {
			margin-inline-start: 20%;
			margin-inline-end: 0;
		}
		@include media-breakpoint-down(sm) {
			margin-top: rem(60px);
			margin-inline-start: 0;
		}
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			border: 10px solid transparent;
			top: rem(20px);
			inset-inline-start: rem(-20px);
			border-inline-end-color: var(--#{$prefix}component-bg);
			
			@include media-breakpoint-down(sm) {
				border-bottom-color: var(--#{$prefix}component-bg);
				top: rem(-20px);
				border-inline-end-color: transparent;
				inset-inline-start: 50%;
				margin-inline-start: rem(-10px);
			}
		}
	}
	& .timeline-header {
		padding: $spacer;
		display: flex;
		align-items: center;
		
		& .userimage {
			width: rem(40px);
			height: rem(40px);
			overflow: hidden;
			border-radius: $border-radius-lg * 6;
			margin-inline-end: $spacer * .8;
		}
		& .username {
			font-size: $font-size-lg * 1.1;
			font-weight: $font-weight-bold;
			color: var(--#{$prefix}component-color);
			flex: 1;
			
			& a {
				color: var(--#{$prefix}component-color);
				text-decoration: none;
			}
		}
		& + .timeline-body {
			padding-top: 0;
		}
	}
	& .timeline-body {
		padding: $spacer;
	}
}