.form-floating {
	& > label {
		:dir(rtl) & {
			left: auto;
			right: 0;
		}	
	}
}
.form-floating>.form-control-plaintext~label::after, 
.form-floating>.form-control:focus~label::after, 
.form-floating>.form-control:not(:placeholder-shown)~label::after, 
.form-floating>.form-select~label::after {
	background: none;
}
