// ANIMATION - sidebar slide out
@keyframes appSidebarEndMobileSlideOutEnd { from { inset-inline-end: 0; } to { inset-inline-end: -$app-sidebar-width; } }

// ANIMATION - wide sidebar slide out
@keyframes appSidebarEndWideMobileSlideOutEnd { from { inset-inline-end: 0; } to { inset-inline-end: -$app-sidebar-width-wide; } }

// ANIMATION - remove mobile backdrop
@keyframes appSidebarEndMobileRemoveBackdrop { from { background: $app-sidebar-bg-mobile-backdrop; } to { background: transparent; } }

.app-sidebar-end-mobile-closed {
	@include media-breakpoint-down(md) {
		& .app-sidebar-end {
			&.app-sidebar,
			&.app-sidebar-bg {
				inset-inline-end: -$app-sidebar-width;
				inset-inline-start: auto;
				animation: appSidebarEndMobileSlideOutEnd .2s ease;
			}
			&.app-sidebar-mobile-backdrop {
				display: block;
				background: none;
				animation: appSidebarEndMobileRemoveBackdrop .2s ease;
			}
		}
		&.app-with-wide-sidebar {
			& .app-sidebar-end {
				&.app-sidebar,
				&.app-sidebar-bg {
					inset-inline-end: -$app-sidebar-width-wide;
					animation: appSidebarEndWideMobileSlideOutEnd .2s ease;
				}
			}
		}
	}
}