.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-inline-end: 4px solid transparent;
	border-inline-start: 4px solid transparent;
	margin-inline-start: rem(2px);
}