.boxed-layout {
	height: 100%;
	background-image: $app-boxed-layout-bg-cover;
	
	& .app-top-menu {
		max-width: $app-boxed-layout-width;
		width: 100%;
		inset-inline-start: 50%;
		margin-inline-start: $app-boxed-layout-width * -.5;
		
		@include media-breakpoint-up(md) {
			overflow: hidden;
			
			& .menu > .menu-item > .menu-submenu {
				position: fixed;
				top: auto;
				inset-inline-start: auto;
				inset-inline-end: auto;
			}
		}
		@include media-breakpoint-down(sm) {
			position: relative;
			inset-inline-start: 0;
			margin: 0;
		}
	}
	& .pace {
		& .pace-progress {
			top: 0;
		}
		& .pace-activity {
			top: rem(13px);
		}
	}
	& .app {
		max-width: $app-boxed-layout-width;
		width: 100%;
		margin: 0 auto;
		min-height: 100%;
		background: var(--#{$prefix}body-bg);
		position: relative;
		overflow: hidden;
		box-shadow: 0 0px 30px rgba($black, .5);
		
		& .app-content {
			background-color: var(--#{$prefix}body-bg);
		}
	}
	& .app-header {
		max-width: $app-boxed-layout-width;
		width: 100%;
		inset-inline-end: auto;
		inset-inline-start: auto;
	}
	& .app-sidebar,
	& .app-sidebar-bg {
		@include media-breakpoint-up(md) {
			inset-inline-start: auto;
			inset-inline-end: auto;
		}
	}
}
@media (max-width: $app-boxed-layout-width) {
	.boxed-layout {
		& .app-top-menu {
			inset-inline-start: 0;
			margin-inline-start: 0;
		}
	}
}